@model Receituario;
@using Hsf_Receitas.Models;
@using Hsf_Receitas.Data;

@{
    ViewData["title"] = "Completar Receituário";

    Medicacao medic = new Medicacao();
    HSFContext database = new HSFContext();

    List<Medicacao> medicList = database.Medicamentos.Where(m => m.ReceituarioId == Model.Id).ToList();

    List<Receituario> prescriptionList = database.Receitas.Where(m => m.Id == Model.Id).ToList();

}

<div class="prescription container-fluid">

    <div class="card border-primary col-md-5 mb-4 p-0">

        <div class="card-header text-light">

            <h1 class="text-center">Receituário</h1>

        </div>

        <div class="card-body">

            <form id="up-receita-form" class="prescription-form">

                <span class="mt-3 mb-3 alerta"></span>

                <div class="card text-light border-primary">

                    <h5 class="card-header font-weight-bold">Informações básicas :</h5>

                    <div class="card-body prescription-card-body">

                        <input id="up-prescriptionId" class="form-control mb-3 addRec-prescriptionId" type="hidden" asp-for="Id"
                        disabled>

                        <label class="text-primary" for="up-pacientName">Nome do Paciente: </label>
                        <input type="text" id="up-pacientName" class="form-control border-primary mb-3"
                         asp-for="PacientName" required>

                        <label class="text-primary" for="up-dataAppoiment">Data da consulta: </label>
                        <input type="date" id="up-dataAppoiment" class="form-control border-primary mb-3"
                        asp-for="DateOfMedicalAppoiment" required>

                        <label class="text-primary" for="up-doctorName">Nome do Médico: </label>
                        <input type="text" id="up-doctorName" class="form-control border-primary mb-3"
                        asp-for="DoctorName" required>

                        <p class="text-danger ml-5">Salve quaisquer alterações antes de imprimir.</p>

                        <div class="edit-button col-md-3">
                            <button type="submit" class="btn btn-sm btn-primary btn-printer mt-3"> <span class="material-symbols-outlined"> save </span> Salvar</button>
                        </div>

                    </div>

                </div>

                <div class="card text-light border-primary">

                    <h5 class="card-header font-weight-bold">Medicações :</h5>

                    <div class="card-body">

                        <p class="text-info ml-3">Agora você pode adicionar medicamentos!</p>

                        <div class="col-md-12 mt-3 mb-3">
                            @await Html.PartialAsync("/Views/Medicacao/_ListaDeMedicacao.cshtml", @medicList)
                        </div>

                        <div class="row button-prescription">

                            <button type="button" data-toggle="modal" data-target="#medication-modal-@Model.Id" title="Inserir medicamentos à receita" onclick="inserirRemedios()" class="btn btn-sm btn-info btn-printer"> <span class="material-symbols-outlined"> syringe </span> Adicionar Medicamentos</button>

                            @if(medicList.Count() <= 0)
                            {
                                <button title="Insira medicamentos para imprimir!" class="btn btn-sm btn-secondary btn-printer medic-btn" disabled><span class="material-symbols-outlined mr-2"> print </span> Imprimir </button>
                            }else {
                                <a href="/Receituario/PrescriptionPrintToPDF?id=@Model.Id" target="_blank" title="Imprimir receituário" class="btn btn-sm btn-secondary btn-printer"><span class="material-symbols-outlined mr-2"> print </span> Imprimir </a>
                            }

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </div>

    @if (prescriptionList.Count() > 0)
    {
        <div class="card border-primary col-md-5 mb-4 p-0">

            <div class="header-show-prescription mt-2 ml-2">

                <div class="header-img mt-2 mb-2">

                    <img src="../images/logotipo-hospital-sao-francisco.png"
                    alt="logotipo da vizualização do receituário comum">

                </div>

                <div class="show-logo mt-2 mb-2">

                    <h1>RECEITUÁRIO</h1>
                    <h2 style="text-decoration: underline 2px solid #007bff;">FUNDAÇÃO DE SAÚDE TRÊS MARIAS</h2>
                    <h2>HOSPITAL SÃO FRANCISCO</h2>

                </div>

            </div>

            <div class="show-body mt-4">
                @foreach (var item in prescriptionList)
                {
                    <div class="prescription-data">

                        <div class="inputs">
                            <p class="m-0 p-0">NOME DO PACIENTE :</p><span class="content">@item.PacientName</span>
                        </div>
                        <div class="inputs">
                            <p class="m-0 p-0">DATA DO ATENDIMENTO :</p><span
                        class="content">@item.DateOfMedicalAppoiment.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="inputs">
                            <p class="m-0 p-0">NOME DO MÉDICO :</p><span class="content">@item.DoctorName</span>
                        </div>

                    </div>
                }
                <div class="medicacoes p-4">

                    <h3 class="text-center text-primary font-weight-bold mt-2">MEDICAMENTOS :</h3>

                    @if (medicList.Count() > 0)
                    {
                        <table class="text-primary list-visualization mt-3">

                            <thead class="text-primary text-center font-weight-bold border-medic">

                                <tr class="">

                                    <th class="border-medic">NOME</th>
                                    <th class="border-medic">DOSAGEM</th>
                                    <th class="border-medic">USO</th>
                                    <th class="border-medic">TEMPO-(Dias)</th>
                                    <th class="border-medic">A CADA-(Hrs)</th>

                                </tr>

                            </thead>

                            <tbody class="text-center">

                                @foreach (var item in medicList)
                                {
                                    <tr class="border-medic">

                                        <td class="border-medic p-1">@item.MedicationName</td>

                                        <td class="border-medic p-1">@item.MedicationDosage</td>

                                        <td class="border-medic p-1">@item.MedicationMethodUse</td>

                                        <td class="border-medic p-1">@item.UseTime - dias</td>

                                        <td class="border-medic p-1">À cada @item.DoseTime - horas</td>

                                    </tr>

                                    /* Start DeleteMedication Modal */

                                    <div class="modal fade myModal-@item.Id" tabindex="-1" role="dialog"
                                        aria-labelledby="deleteMedicationTitle" aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered modal-md" role="document">

                                            <div class="modal-content">

                                                <div class="modal-header text-center">

                                                    <h3 class="modal-title text-danger text-center" id="deleteMedicationTitle">
                                                        Alerta!</h3>

                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                        <span aria-hidden="true">&times;</span>

                                                    </button>

                                                </div>

                                                <div class="modal-body p-0">

                                                    <form onsubmit="deleteMedication(@item.Id)" name="medication-delete" class="medication-delete">

                                                        <div class="warning-delete"></div>

                                                        <div class="p-2 text-justify">
                                                            <span>Tem certeza que deseja excluir a medicação <b>@item.MedicationName</b> ?</span>
                                                        </div>

                                                        <div class="modal-footer p-2">

                                                            <button class="btn btn-outline-danger btn-sm" type="submit" title="Delete"><i style="font-size: 20px;" class="bi bi-person-fill-x"></i></button>
                                                        </div>

                                                    </form>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    /* Finish DeleteMedication Modal */

                                }

                            </tbody>

                        </table>
                    }
                </div>

            </div>

            <div class="show-footer">
                <P>BR 040 - KM 438 - BRASÍLIA / BELO HORIZONTE - TEL.: (38) 3754-1256</P>
                <p><span>PARQUE DIADORIM</span> - CEP: 39205-000 - TRÊS MARIAS - MINAS GERAIS</p>
                <div class="line"></div>
            </div>

        </div>

    }
    else
    {
        <div class="alert alert-warning w-100 text-center alert-medication" role="alert">
            Não existe uma receita para mostrar !
        </div>
    }

</div>

<!--Start Medication Modal-->

<div class="modal fade" id="medication-modal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="registerUserTitle"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-md" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h2 class="text-center mb-0"> Inserir Medicamento</h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body p-0">
                @await Html.PartialAsync("/Views/Medicacao/_MedicationRegister.cshtml", @medic)
            </div>

        </div>

    </div>

</div>

<!--Finish Medication Modal-->
